.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
}

.main-content {
  width: 100%;
  min-height: 0;
  padding-top: 110px;
}

@media (max-width: 968px) {
  .main-content {
    padding-top: 170px;
  }
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 195px;
  }
}
